.about-page  {
    font-size: 34px; 
}

.about-page .content p {
    margin-bottom: 15px;
}

.about-page .start {
    line-height: 1.3;
}

.about-page .start .text,
.about-page .strength .story {
    margin-top: 5vh;
    margin-left: 3vw;
    padding: 5px 15px;
    text-align: justify;
}

.start .text {
    max-width: 800px;
}






.start, .strength{
    display: flex;
    align-items: center;
}

.strength .story {
    max-width: 50vw;
}

.strengh .play {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.strength .continue-button {
    font-size: 50px;
    cursor: url('../assets/cursor1.png'), auto;
    margin-left: 5vw;
    color: #6f8fc3;
}

.strength .continue-button:hover {
    color: white;
}

.strength .choices {
    padding:10px;
    min-width: 40vw;
}

.strength .choices .prompt p {
    color: #6f8fc3;
}

.start .button,
.strength .confirm-button {
    font-size: 40px;
    margin-left: 3vw;
    padding: 5px 10px;
    height: 60px;
}

.strength .cards {
    display: flex;
    justify-content: space-between;
}


.strength .card .back {
    cursor: url('../assets/cursor1.png'), auto;
}



@media (max-width: 480px) {
    .about-page .content {
        font-size: 30px;
    }
    .start {
        line-height: 1.2;
        flex-direction: column;
    }

    .content .text {
         margin-left: 1vw;
        margin-right: 1vw;
    }
}

@media (min-width: 481px) and (max-width: 870px) {
    .start, .strength {
        flex-direction: column;
    }

    .content .text {
        margin-right: 3vw;
    }
}