.about-page {
  font-size: 34px;
}

.about-page .content p {
  margin-bottom: 15px;
}

.about-page .start {
  line-height: 1.2;
}

.about-page .start,
.about-page .strength {
  margin: 5vh 3vw;
  text-align: justify;
  display: flex;
}

.start .text,
.strength .story,
.strength .play {
    padding: 1vh 2vw;
}

.start .text {
  max-width: 800px;
}

.strength .story {
  width: 50vw;
}

.strength .play {
  width: 40vw;
  /* text-align: center; */
}

.strength .continue-button {
    padding: 20vh 15vw;
  font-size: 50px;
  cursor: url("../assets/cursor1.png"), auto;
  color: #6f8fc3;
}

.strength .continue-button:hover {
  color: white;
}

.strength .choices {
  text-align: left;
}

.strength .choices .prompt p {
  color: #6f8fc3;
}

.start .button,
.strength .confirm-button {
  font-size: 40px;
  margin-left: 3vw;
  padding: 5px 10px;
  height: 60px;
}

/* mobile */
@media (max-width: 480px) {
  .about-page,
  .about-page button {
    font-size: 24px;
  }
  .start,
  .strength {
    line-height: 1;
    flex-direction: column;
  }

  .start .text {
    margin-left: 1vw;
    margin-right: 1vw;
  }

  .strength .story {
    width: 94vw;
  }

  .strength .play {
      width: 94vw;
  }
}

/* tablet */
@media (min-width: 481px) and (max-width: 870px) {
  .start,
  .strength {
    flex-direction: column;
  }

  .strength .story {
    width: 94vw;
  }

  .strength .play {
    width: 94vw;
}


  /* .content .text {
    margin-right: 3vw;
  } */
}
