.game {
    display: flex;
    justify-content: center;
    max-width: 1024px;
    margin: auto;

}

.cell:hover {
    border: 1px solid grey;
    cursor: url('../assets/cursor1.png'), auto;
}
.grid-wrapper {
    display: flex;
    flex-direction: row;
}

.cols-wrapper {
    display: flex;
    flex-direction: column;
}

.game-menu {
    position: fixed;
    left: 5vw;
    bottom: 5vh;
    display: flex;
}

.game .menu-button {
    color: lightgrey;
    height: 62px;
}

.menu-button img {
    height: 40px;
}

.game .toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.game .intro {
    color: grey;
    font-family: 'VT323', monospace; 
    font-size: 30px;
    padding-left: 1vw;

}

.game .actions {
    padding-left: 1vw;
    display: flex;
}

.actions button,
.actions p {
    color: lightgray;
    font-family: 'VT323', monospace; 
    font-size: 30px;
    margin-right: 2vw;
}

.actions .speed-button {
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 0;
}

.actions #run-button {
    width: 48px;
}

.menu-button:hover,
.actions button:hover,
.intro:hover {
    color: white;
    cursor: url('../assets/cursor1.png'), auto;
    
}

/* mobile */
@media (max-width: 400px) {
    .actions button, .actions p, .game .intro {
        font-size: 20px;
    }

    .actions #run-button {
        width: 32px;
    }


}
