.header {
    height: 10vh;
    display: flex;
    background-color: black;
    justify-content: flex-end;
}

.header .toggle {
    padding-top: 2vh;
}

.header .menu-button {
    font-size: 45px;
    margin-right: 3vw;
}
.header .nav-link {
    color: lightgray;
    font-family: 'VT323', monospace; 
    font-size: 30px;
    margin-right: 4vw;
}

.nav-link:hover {
    color: white;
    cursor: pointer;
}