.home-card {
    margin-top: 15vh;
    margin-left: 10vw;
    margin-right: 10vw;
    height: 50vh;
    box-shadow: 12px 12px 0px 0px #5F5F5F;
    border: 5px solid black;
}

.home-card .home-card-content {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    padding-top: 20vh;
}

.home-card .arrow {
    font-size: 25px;
    margin-top: 5vh;
    
}


@media (min-width: 750px) {
    .home-card {
        max-width: 600px;
        margin: 2vh auto;
        margin-top: 15vh;
    }
}