.project-page .projects {
    display: flex;
    flex-wrap: wrap;
}
.projects .project-card {
    font-size: 25px;
    padding: 15px 10px;
    width: 180px;
    height: 180px;
    margin: 15px;
    position: relative;
}

.projects .project-card .desc {
    margin-top: 10px;
    font-size: 18px;
    color: black;
}

.projects .project-card .flag {
    font-size: 18px;
    position: absolute;
    bottom: 10px;

}

.projects .project-card:hover {
    cursor: url("../assets/cursor1.png"), auto;
}

.projects .project-detail {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 20vh;
    /* Location of the box */
    left: 0;
    top: 0;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.projects .project-detail .detail-content {
    font-size: 23px;
    margin: auto;
    padding: 30px;
    width: 400px;
    height: 400px;
    line-height: 1.1;
}


.projects .detail-content .close-button {
    margin-left: 300px;
    cursor: url("../assets/cursor1.png"), auto;
}

.projects .detail-content .close-button:hover,
.projects .detail-content #source a:hover {
    color: black;
    transition: ease-in-out 0.2s;
}

.projects .detail-content .part {
    margin-bottom: 15px;
}


.projects .detail-content #title {
    font-size: 28px;
    margin-top: 10px;
}

.projects .detail-content #tools p,
.projects .detail-content .tool,
.projects .detail-content #source {
    font-size: 20px;
}


.projects .detail-content #tools p,
.projects .detail-content #source,
.projects .detail-content #source a {
    color: lightgray;   
}


.projects .detail-content .tool {
    color: grey;
    margin-right: 10px;
}

.projects .detail-content #source a {
    margin-left: 8px;
    text-decoration: underline;

}




