#journey .tabs {
    display: flex;
}

#journey .tabs .tab-titles {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
}

.profile .tabs .tab-titles {
    display: flex;
    margin-left: 5px;
    padding: 0;
}

#journey .tabs .tab-title {
    width: 50px;
}

#journey .tabs .tab-content {
    font-size: 24px;
    padding: 5px 10px;

}

#journey .tabs .tab-content .title {
    color: grey;
}

#journey .tabs .inline-link {
    text-decoration: underline;
}

#journey .tabs .inline-link:hover {
    background-color: lightskyblue;
}


/* mobile */
@media (max-width: 480px) {
    #journey .tabs .tab-content {
        font-size: 20px;
    }
}